html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color:rgb(221, 240, 240);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.flexContainer {
  display: flex;
  margin: 2rem;
  flex-direction: column;
}

h3 {
  margin-bottom: 0;
}

.linkbar a{
  padding: 0.2rem 1rem;
  background-color: rgb(217, 209, 195);
  font-family: 'Zilla Slab', serif;
}