.container {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  position: sticky;
  width: 100%;
  justify-items: center;
  margin-top: 1rem;
  top: 1rem;
}

.container a{
  color: black;
  text-decoration: wavy;
}